/nbproject
/.zfproject.xml
/public/.htaccess
/nbproject/project.xml
/nbproject/project.properties
/nbproject/private/config.properties
/nbproject/private/properties
/application/configs/application.ini
.gitignore
/docs/README.txt