/*

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Coffeelike
	Version    : 1.0
	Released   : 20130222
	
*/

* {
	margin: 0;
	padding: 0;
}

a {
	color: #1495ff;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 12pt;
	line-height: 1.75em;
	font-family: Georgia, serif;
	background: #ad8667 url('/assets/imagens/bg.jpg');
	color: #ebe1d9;
}

br.clear {
	clear: both;
}

h1,h2,h3,h4 {
	
	letter-spacing: -1px;
}

#faixa {
	background-color:#0099ff;
	text-align:center;
        font-size: 25pt;
        width: 610pt;
        color: #fff;
        margin-left: 5px;
        	
}

h2,h3,h4 {
	margin-bottom: 1em;
	font-family: Arvo, serif;
	color: #fff;
}

img.left {
	float: left;
	margin: 5px 20px 20px 0;
}

img.top {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

.imageList {
	list-style: none;
}



#bg {
	background: url('/assets/imagens/shadow.png') top left repeat-x;
}


#content {
	width: 745px;
	height:700px;
	margin: 0 0 0 355px;
	padding: 40px;
	background: #fff;
        
	
}

#copyright {
	padding: 20px 0 10px 0;
	text-align: center;
	color: #D8C2AB;
	margin:0 0 80px 0;
        
}


 a {
	color: #f4eeea;
}



/* ul {
	list-style: none;
}
 ul li {
	padding: 15px 0 15px 0;
	border-top: dotted 1px #c6aa95;
}*/

#header {
	position: relative;
	padding: 40px;
	height: 80px;
}

#logo {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 120px;
	line-height: 120px;
}

/*#main {
	position: relative;
	padding: 0;
	width: 1180px;
	color: #5e5e5e;
}

#main a {
	color: #242424;
	text-decoration:none;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 15px 0 15px 0;
	border-top: dotted 1px #b3b3b3;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}*/


#nav {
	position: absolute;
	right: 5px;
	height: 53px;
	line-height: 53px;
	top: 73px;
	width: 820px;
	
}

#nav li {
	margin: 0 1em 0 1em;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 0 auto;
	padding: 30px;
}

#sidebar {
	width: 240px;
	height:500px;
	float: left;
	padding: 40px;
	background: #32251b;
	color: #e1d2c7;
}

#sidebar a {
	color: #e2e0df;
}

#sidebar h2, #sidebar h3, #sidebar h4 {
	color: #fff;
}
h3#tam{
	font-size:20pt;
	text-align:center
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	padding: 15px 0 15px 0;
	border-top: outset 2px #70665f;
}

#sidebar ul li.first {
	padding-top: 0;
	border-top: 0;
}



